
form(action='contact-me', method="POST")
    input(name="name", placeholder="name")
    input(type="email", name="email", placeholder="john.doe@mail.com")
    textarea(name="content", placeholder="contenu du message") 
    input(type="submit" value="submit")