
form(action='add-student' method="POST" class="flex flex-wrap gap-2")
    input(name="name" placeholder="name" class="flex-1/2" required)
    input(type="date" name="birth" placeholder="JJ/MM/AAAA" class="flex-1/2" required)
    input(type="submit" value="Ajouter" class="flex-1 btn w-full")